md-input-container {
    margin: 0;
}

.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }
.layout-padding{

align-items: center;
  justify-content: center;}


.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }


md-input-container {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 0;
    position: relative;
}
