<!DOCTYPE html>
<html>
<head>
        <title></title>
         <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <!-- bower:css -->
        <link href="bower_components/angular-material/angular-material.css" rel="stylesheet"/>
        <!-- endbower -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <!-- endbower -->
        <script type="text/javascript" src="myApp.js"></script>
</head>
<body ng-app="testing">
<div ng-controller="example">
        
        <md-content class="md-padding">
        <div layout-gt-sm="row">
                <md-input-container flex="">
                  <label>Name</label>
                  <input type="text" value="{{name}}" ng-model="name">
                </md-input-container>

        </div>

        <div class="inset" layout>
                <md-button flex class="md-primary md-raised" >Show as List</md-button>
                <md-button flex class="md-primary md-raised" >Show as Grid</md-button>
                <md-button flex class="md-primary md-raised" >Show as Grid</md-button>
                <div flex md-button class=" ">jkhsdf askfghaf</div>
        </div>
                
<a href="#" class="">.klhzsg;lnaf;ogihadlrhn;doaihga.ldrnglaidfhga.lnh;goaidhna,.jdng;oadihgfn</a>
                <div ng-click="orderReverse = orderReverse ? false : true" class="ripplelink">
                        hi
                        <span ng-show="orderReverse">hello</span>
                </div>
        </md-content>

</div><div class="inset" layout>
<div flex> <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Toolbar: md-warn</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
   </md-content></div>
<div flex> <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Toolbar: md-warn</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
   </md-content></div>
<div flex> <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Toolbar: md-warn</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
   </md-content></div></div>

 
   
</body>
</html>